* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main {
    width: 100vw;
    height: auto;
    background-color: #fff;
    display: flex;

    .container {
        width: 1200px;
        margin: auto;

        .category-main {
            width: 100%;
            height: 60px;
            background-color: #fff;
            margin-bottom: 20px;
            margin-top: 20px;
            border-radius: 10px;
            display: flex;
            align-items: center;


            select {
                width: 150px;
                font-weight: 600;
                margin-left: 20px;
                border: 1px solid #d3d3d3;
                padding: 5px;
                box-sizing: content-box;


                option {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    font-weight: 600;
                    font-size: 20px
                }
            }
        }

        .news-main {
            width: 1200px;

            .row {
                width: 100%;
                columns: 3;
                column-gap: 10px;
                

                .news-content  {
                    background-color: #222831;
                    padding: 10px;
                    border-radius: 10px;
                    color: #212121;
                    margin-bottom: 10px;
                    break-inside: avoid;

                    img {
                        width: 100%;
                        border-radius: 10px;
                    }
    
                    .news-title {
                        h1 {
                            font-size: 25px;
                            letter-spacing: -1px;
                            margin: 15px 0;
                            color: #00ADB5;
                            font-weight: 700;
                        }
        
                        p {
                            font-size: 18px;
                            color: #F7F2E7;
                            font-weight: 600;
        
                            &:hover {
                                opacity: 1;
                            }

                            
                        }

                        .news-a-d {
                            display: flex;
                            justify-content: space-between;
                            margin: 20px 0;
                            margin-bottom: 30px;
                            span {
                                font-size: 17px;
                                font-weight: 600;
                                color: #EEEEEE;
                            }
                        }

                        .read-more {
                            font-size: 16px;
                            text-decoration: none;
                            padding: 10px;
                            display: block;
                            background-color: #00ADB5;
                            border-radius: 10px;
                            font-weight: 700;
                            color: #000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.3s ease;



                            &:hover {
                                background-color: #EEEEEE;
                                color: #000;
                            }
                        }
                    }
                }
            }
            

        }



    }
}